* {
    box-sizing: border-box;
    font-weight: lighter;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

header {
    display: block;
    padding: 14px;
    line-height: 70px;
    background-color: #26282A
}

header h1 {
    padding-left: 60px;
    font-size: 40px;
    color: #fdf8f5;
}


/* puts the text at the top right of the screen*/
.text-right {
    position: absolute;
    right: 0;
    top: 0;
}

ul {
    margin: 15px;
}

/* display: inline forces the text to be left and right */
li {
    display: inline;
    padding: 15px;
}


a {
    text-decoration: none;
    font-size: 30px;
    border-bottom-style: solid;
    color: #fdf8f5;
}


.image {
    height: 842px;
    width: 595px;
    display: block;
    position: absolute;
}

.background {
    filter: blur(20px);
    background: url(./assets/images/backgroundimage.png) no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}

.article {
    text-align: center;
    position: relative;
    left: 810px;
    bottom: 1140px;
    width: 45%;
    display: inline-block;
    height: 310px;
    /* background: rgba(53, 53, 63, 0.5); */
}

.article h2 {
    line-height: 90px;
    padding: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 65px;
    color: #fdf8f5;
}


.article p {
    top: 250px;
    left: 595px;
    color: #fdf8f5;
    font-size: 30px;
}

.section {
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1269px;
    margin-right: auto;
    margin-right: auto;
}

#AboutMe {
    left: 595px;
    width: 68%;
    bottom: 864px;
    height: 150px;
    position: relative;
    background-color: #26282A;
    color: #fdf8f5;
}

#AboutMe h3 {
    text-align: left;
    font-size: 60px;
    padding: 40px 0px 40px 20px;
}

#AboutMe p {
    text-align: left;
    left: 390px;
    width: 50%;
    bottom: 120px;
    position: relative;
    color: #fdf8f5;
    font-size: 28px;
}

.Currents {
    display: block;
    position: relative;
    left: 765px;
    bottom: 1000px;
    width: 600px;
    height: auto;
}

#projects1 {
    text-align: center;
    left: 75px;
    bottom: 750px;
    position: relative;
    color: #fdf8f5;
    font-size: 75px;
    width: 20%;
    padding: 1%;
    border-style: groove;
    border-width: 6px;
}

.Coming-Soon {
    display: block;
    position: relative;
    left: 850px;
    bottom: 1000px;
    width: 450px;
    height: auto;
}

.Coming-Soon2 {
    display: block;
    position: relative;
    left: 850px;
    bottom: 1000px;
    width: 450px;
    height: auto;
}

#comingsoon {
    text-align: center;
    left: 75px;
    bottom: 750px;
    position: relative;
    color: black;
    font-size: 75px;
    width: 20%;
    padding: 1%;
    border-style: groove;
    border-width: 6px;
}

.comingsoon2 {
    width: 450px;
    height: 335px;
    text-align: center;
    left: 75px;
    top: 750px;
    position: relative;
    color: black;
    font-size: 75px;
    width: 20%;
    padding: 1%;
    border-style: groove;
    border-width: 6px;

}


.footer {
    text-align: center;
    display: block;
    padding: 1%;
    line-height: 70px;
    background-color: #26282A;
    font-size: 35px;
    color: #fdf8f5;
}


.button {
    background-color:#118515;
    border-radius: 12px;
    display: inline-block;
    position: relative;
    left: 275px;
    bottom: 970px;
    text-align: center;
    text-decoration: none;
    padding: 10px 50px;
    font-size: 35px;
    color: #fdf8f5;
    transition-duration: 0.4s;
}

.button:hover {
    
}

