* {
    box-sizing: border-box;
}

header {
    display: block;
    padding: 1%;
    line-height: 70px;
    background-color: #26282A
}

header h1 {
    font-size: 40px;
    text-decoration: wavy;
    color: #fdf8f5;
}


/* puts the text at the top right of the screen*/
.text-right {
    position: absolute;
    right: 0;
    top: 0;
}

ul {
    margin: 20px;
}

li {
    display: inline;
    padding: 10px;
}


a {
    font-size: 25px;
    text-decoration: none;
    color: #fdf8f5;
}


.image {
    height: 842px;
    width: 595px;
    display: block;
    position: absolute;
}

.background {
    filter: blur(20px);
    background: url(./assets/images/backgroundimage.png) no-repeat center;
    background-size: cover;
    height: 800;
    width: 100%;
    position: relative;
    z-index: -1;
}